<div class="col s12 m6 l3">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text block">
            <a href="block-info/<!-- __block_id__ -->" style="color: #FFF"><span class="card-title"><!-- __block_name__ --></span></a>
            <p class="long-text" title="<!-- __block_hash__ -->">Hash: <b><!-- __block_hash__ --></b></p>
            <p class="long-text" title="<!-- __block_previous_hash__ -->">Previous hash: <b><!-- __block_previous_hash__ --></b></p>
            <p class="long-text" title="<!-- __block_nonce__ -->">Nonce: <b><!-- __block_nonce__ --></b></p>
            <p class="long-text" title="<!-- __block_timestamp__ -->">Timestamp: <b><!-- __block_timestamp__ --></b></p>
            <p class="long-text" title="<!-- __block_data_root_hash__ -->">Data root hash: <b><!-- __block_data_root_hash__ --></b></p>
            <p><br /></p>
            <p><b>Block-Data: </b></p>
            <p><!-- __block_data__ --></p>
        </div>
    </div>
</div>