<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Simulation of a Blockchain</h5>
                <p class="grey-text text-lighten-4">This website uses <a class="white-text" href="https://materializecss.com/"><b>Materialize</b></a>.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a target="_blank" rel="noopener noreferrer" class="grey-text text-lighten-3" href="https://www.github.com/se7-kn8">GitHub</a></li>
                    <li><a target="_blank" rel="noopener noreferrer" class="grey-text text-lighten-3" href="https://www.twitter.com/se7kn8">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Sebastian "SE7-KN8" Knackstedt
        </div>
    </div>
</footer>

<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>